<header><%= link_to 'DE VUELTA A LOS POST',posts_path %></header>
<h2><%= @post.title %></h2>
<p><%= @post.body%></p>
<% if user_signed_in? %>
<p><small> <%= @post.user.username%></small></p>
<% if current_user == @post.user%>
<%= link_to 'EDITA EL POST', edit_post_path(@post), class: 'button'%>
<%= button_to 'BORRA', post_path(@post),method: :delete, onclick: "return confirm('SEGURO Q QERE BORRAR?');" , class: 'button danger'%>
<%end%>
<%end%>